@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the "A Scanner Darkly"</h1>
    <p>It is the most convenient directory of customer sales, pledges and purchases.</p>
    <p>Let's start working, first select any tab!</p>
</div>
