
@{
    ViewData["Title"] = "NameType";
}

<h1>Search Type Item by NameType</h1>

<form asp-action="Details" method="get">
    <div class="form-group">
        <label for="nameType">Enter Name Type:</label>
        <input type="text" id="nameType" name="nameType" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>